body{
    background-color:  #121212;
    margin: 0;
}


section{
    width: 95%;
    height:auto;
    background-color: rgb(44, 44, 44);
    margin: auto;

}
.ContaineBase{

    width: 80%;
    height: auto;
    margin: auto;
    
}

.imgFont1{
    width: 200px;
    height: 200px;
    background-image: url(../imgcss/olivera.jpeg);
    background-size:350px;
    background-position:top;
    background-repeat: no-repeat;
    margin-left: 10%;
    border-radius: 50%;
    display: inline-flex;
}


.imgFont2{
    width: 200px;
    height: 200px;
    background-image: url(../imgcss/heitor.jpeg);
    background-size:200px;
    background-repeat: no-repeat;
    margin-left: 10%;
    border-radius: 50%;
    display: inline-flex;
}



.imgFont3{
    width: 200px;
    height: 200px;
 
    background-image: url(../imgcss/Paulo.jpeg);
    background-size:250px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10%;
    border-radius: 50%;
    display: inline-flex;
}



.imgFont4{
    width: 200px;
    height: 200px;
    background-image: url(../imgcss/samuca.jpeg);
    background-size:250px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10%;
    border-radius: 50%;
    display: inline-flex;
}


.imgFont5{
    width: 200px;
    height: 200px;
    background-image: url(../imgcss/kauan.jpeg);
    background-size:300px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10%;
    border-radius: 50%;
    display: inline-flex;
}

.imgFont6{
    width: 200px;
    height: 200px;
    background-image: url(../imgcss/Bianca.jpeg);
    background-size:250px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10%;
    border-radius: 50%;
    display: inline-flex;
}

.imgFont7{
    width: 200px;
    height: 200px;
    background-image: url(../imgcss/Ariane.jpeg);
    background-size:250px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10%;
    border-radius: 50%;
    display: inline-flex;
}



.caixatext{
    width:auto;
    height: auto;
    display: inline-block;
    color: white;

}

p{
    font-family: 'Amatic SC', cursive;
    color:darkorange;
    font-size: 25px
 
}