body {
    background-color: #121212;
    margin: 0;
}


#header {
    width: 100%;
    height: 480px;
    background-image: url(../imgcss/PT3.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 25%;



}

#titulo {
    position: absolute;
    color: white;
    margin-top: 240px;
    margin-left: 35%;
    font-family: 'Amatic SC', cursive;

}

#text {
    width: 80%;
    height: auto;
    padding: 20px;
    background-color: #2f2f2f;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
    color: white;
    transition: 0.5s ease-in;
    text-align: center;
}

@media screen and  (max-width: 1100px) {

    #titulo{
        font-size: 20px;
        margin-left: auto;
        font-size: 10px;
    }
}